body {
  
    box-sizing: border-box;
    background-image: url("./login/sfondo/giusta.jpg");
  }
  
  nav {
    background-color: #E19853;
    color: #231f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 65px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #E19853;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul li {
    margin-right: 20px;
    border-radius: 8px;
    
}
nav ul li:last-child {
    margin-right: 0;
    
}
nav a {
    color: #231f20;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;

}

nav a:hover {
    background-color: #e47e1f;
   /* text-decoration: underline;*/
    border-radius: 8px;
}

  /* Style inputs */
  button, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .button {
    background-color:  #E19853;
    background-image: url("./login/sfondo/per_bottone.jpg");
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button:hover {
    background-color: #e47e1f;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #E19853;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }