/*------------------------------------------------ Stile font */
@font-face {
    font-family: 'Lovelo';
    src: url('/Lovelo/Lovelo/Commercial/TTF/Lovelo-Black.ttf') format('truetype');
  }

  h1, a, h3, h4 {
    font-family: 'Lovelo', sans-serif;
  }

/*------------------------------------------------ Stile per il menù */
  nav {
    background-color: #E19853;
    color: #231f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 65px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #E19853;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul li {
    margin-right: 20px;
    border-radius: 8px;
    
}
nav ul li:last-child {
    margin-right: 0;
    
}
nav a {
    color: #231f20;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;

}

nav a:hover {
    background-color: #e47e1f;
   /* text-decoration: underline;*/
    border-radius: 8px;
}


/*------------------------------------------------ Stile per centrare le immagine */

.centrato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.centrato_bottone{
    display: flex;
    position: absolute;
    right: 100px;
    bottom: 300px;
    height: 0.1vh;
}

.centrato img {
    max-width: 2000%;
    max-height: 2000%;
}

/*------------------------------------------------ Follie di Chiara */
.pulsante {
    font-family: 'Arial';
    src: url('/Lovelo/Lovelo/Commercial/TTF/Lovelo-Black.ttf') format('truetype');
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: solid 1px #E19854;
    background: #E19853;
    border-radius: 8px;
    font-weight : bold ;
    }

.pulsante_entra {
        font-family: 'Arial';
        src: url('/Lovelo/Lovelo/Commercial/TTF/Lovelo-Black.ttf') format('truetype');
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #000;
        padding: 10px 20px;
        border: solid 1px #E19854;
        background: #E19853;
        border-radius: 8px;
        height: 40px;
        width: 80px;
        }
.pulsante:hover {
        background-color: #e47e1f;
       /* text-decoration: underline;*/
        border-radius: 8px;
    }
.pulsante_entra:hover {
        background-color: #e47e1f;
       /* text-decoration: underline;*/
        border-radius: 8px;
    }

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
}

.banner video{
    position: absolute;
    top: 0.5;
    left: 0;
    bottom: 0;
    z-index: -1;
}


.content{
    text-align: center;

}

.content h3{
    position: absolute;
    right: 100px;
    font-size: 6vw;
    font-weight: bolder;
    padding-bottom: 10px;
    color: #E19853;
    text-align: right;
    letter-spacing: normal;
        
}


@media only screen and (max-aspect-ratio: 16/9) {

    .centrato_bottone{
        position: absolute;
        left: 50%;
        top: 94%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;

    }
    .content h3{
        font-size: 5em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;

    }

    /*-------------------sotto------------*/
    .footer {
        background-color: #E19853; 
        padding: 10px;
        position: relative;
        bottom: 0;
        width: 100%;
    }

}

.form-control{
    border-color: #E19854 ;
}
.container-text-center h4{
    font-size: 4em;
    font-weight: bolder;
    padding-bottom: 8px;
    color: #E19853;
    letter-spacing: normal;
    text-align: center; /* orizzontale */
    line-height: 80px; /* verticale */
}


.mb-3 form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

.col1{

    width: 30px;
}

.col2{

    width: 700px;
}
.btn-btn-primary{
    font-family: 'Arial';
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: solid 1px #E19854;
    background: #E19853;
    border-radius: 8px;
    font-weight : bold ;
    border-spacing: 100;
    

}
.btn-btn-primary:hover{
    background-color: #e47e1f;
}

.btn {
    display: inline-block; /* oppure "display: inline;" */
    margin: 0 10px;
  }

.footer{
    background: #E19853;
    height: 50px;
    align-items: center;
    font-size: 1.0em;

}

/*-------------------about us------------*/
#wrapperAU{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;

    min-height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url('./sfondo_about_us/BONUS-ANIAMLI-DOMESTICI-696x464.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#testimonialAU{
    padding: 30px 100px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

article h8{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1.5px;

}

article h8:after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;


    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;

}

#ImmagineAU{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;


    height: 270px;
    width: 270px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 10px;
}

#blockquoteAU{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;

    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
}

article h9{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;


    text-transform: uppercase;
    font-size: 28px;
    margin-top: 30px;
    letter-spacing: 1.5px;
}

article p{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lovelo', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;

    font-size: 17px;
}




#ok{
    font-size: 9pt
}

#foto_carica{
    width: 49.3%;
}

.btn text-white{
    height: 100px;
    width: 100px;
}

/*------------------Parte gioco home-----------*/
.game{
    width: 100%;
    height: 30vh;
    background-color: #E19853;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.game-content{
    width: 100%;
    padding: 50px;
    color: whitesmoke;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.game-content g2{
    font-size: 6vmin;
    margin: 10px;
}

.game-content g1{
    color: rgba(221,221,221);
}

.game-content .ctn{
    margin-top: 40px;
}

#game_bottone{
    margin-top: 13px;
    background-image: url("./login/sfondo/per_bottone.jpg");
    padding: 10px 35px;
}

#game_bottone:hover {
    background-color: #e47e1f;
   /* text-decoration: underline;*/
    border-radius: 8px;
}