/*------------------------------------------------ Stile font */
@font-face {
    font-family: 'Lovelo';
    src: url('/Lovelo/Lovelo/Commercial/TTF/Lovelo-Black.ttf') format('truetype');
  }

  h1, a {
    font-family: 'Lovelo', sans-serif;
  }

/*------------------------------------------------ Stile per il menù */
  nav {
    background-color: #E19853;
    color: #231f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav a {
    color: #231f20;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #e47e1f;
   /* text-decoration: underline;*/
    border-radius: 8px;
}

/*------------------------------------------------ Stile per centrare le immagine */

.centrato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.centrato_bottone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.1vh;
}
.centrato img {
    max-width: 2000%;
    max-height: 2000%;
}

/*------------------------------------------------ Follie di Chiara */
.pulsante {
    font-family: 'Arial';
    src: url('/Lovelo/Lovelo/Commercial/TTF/Lovelo-Black.ttf') format('truetype');
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: solid 1px #E19854;
    background: #E19853;
    border-radius: 8px;
    }
.pulsante:hover {
        background-color: #e47e1f;
       /* text-decoration: underline;*/
        border-radius: 8px;
    }