.sidenavCanvas {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenavCanvas a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  .sidenavCanvas a:hover {
    color: #f1f1f1;
  }
  
  .sidenavCanvas .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

.icon-user {
    width: 100px;
    height: 100px;
    align-items: center;
}
  