html {
  background-color: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: Tahoma;
  }
  
  body {
    margin: 0;
    font-family: Tahoma;
    max-width: 100%;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #Baf1d7; 
  }

  .topnav a {
    float: left;
    display: block;
    color: #066a2a; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #11d8aa;
    color: #8eebbf;
  }

  h1{
    font-family: Ta#E19853#11d8aa;
    text-transform: uppercase;
    font-style: bold;
    text-align: center;
  }

  .footer {
    background-color: #E19853; 
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
