  .wrapper {
    display: block;
    margin: 90px auto;
    padding: 20px;
  }

.topnav {
  overflow: hidden;
}

  #formContent {
    border-radius: 10px 10px 10px 10px; 
    background: #fff;
    padding: 30px;
    max-width: 800px;
    box-shadow: 0 30px 60px 0 #E19853;
    margin-left: auto;
    margin-right: auto;
  }

  #icona{
    text-align:center;
    
  }

  #formFooter {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 15px;
    max-width: 830px;
    box-shadow: 0 30px 60px 0 #E19853; 
    margin-left: auto;
    margin-right: auto;
  }
  
  h3{
    font-family: Tahoma;
    color:#11d8aa;
    text-transform: uppercase;
    font-style: bold;
    text-align: left;
  }
  
  input[type=submit] {
    background-color: #E19853;
    border: none; 
    color: white; 
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0 10px 30px 0 #E19853; 
    border-radius: 5px 5px 5px 5px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  input[type=submit]:hover {
    background-color:#E19853;
  }

  #pass{
    margin-right: 40px;
  }

.topnav-right{
  float: right;
}

.topnav-center{
  float: center;
}

#bot_1{
  width: 500px;
  height: 350px;
  color: #fff;
  background-color: #FF0000;
  background-image: url('../sfondo/bottone_2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
#bot_2{
  width: 500px;
  height: 350px;
  color: #fff;
  background-color: #FF0000;
  background-image: url('../sfondo/bottone_3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

  #bot_1:hover {
    color: #E19853;

  }

  #bot_2:hover {
    color: #E19853;

  }

