* {
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#container {
    height: auto;
    width: auto;
}

/*Start Section*/
#start {
    height: 70px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background:#E19853;
    color: #000;
    font-size: 23px;
    font-weight: 700;
    border-radius: 30px 10px;
    border: 1px solid #e6a970;
    cursor: pointer;
/*    display: none;*/
}

#start:hover {
    background: #e47e1f;
    color: #000;
}

/*guide Section*/
#guide,
#quiz {
    height: auto;
    width: 580px;
    padding: 20px;
    background: #f2d7b7;
    border-radius: 30px 10px;
    border: 1px solid #E19853;
    display: none;
}

#guide h2 {
    font-size: 60px;
    color: #E19853;
}

#guide h4 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#guide #button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#guide #button button {
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    color: #000;
    background: #E19853;
    border: 1px solid #e47e1f;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
}

#guide #button button:last-child {
    margin: 10px 0;
}

#guide #button button:hover {
    background: #e47e1f;
}

#quiz {
    /*    display: block;*/
    height: 480px;
    position: relative;
}

#quiz #quiz_header {
    height: 60px;
    width: 100%;
    background: #f4efe9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
}

#quiz #quiz_header h5 {
    font-size: 28px;
    margin: 0 20px;
    color: #e47e1f;
}




/*Quiz Questions*/
#quiz #question {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
}

#quiz #question h2 {
    font-size: 27px;
}

#quiz #question h2:first-child {
    margin: 0 10px 0 5px;
}

/*Quiz Options*/
#quiz #optionList {
    height: 400px;
    position: absolute;
    top: 160px;
}

#quiz #optionList h4 {
    height: 50px;
    width: 535px;
    background: #E19853;
    line-height: 50px;
    margin: 5px 0;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 20px;
    color: #fff;
    overflow: hidden;
    border: 1px solid #e47e1f;
    cursor: pointer;
}

#quiz #optionList h4:hover {
    background: #e47e1f;
}

#quiz #optionList .active {
    background: #e47e1f;
}

#quiz #optionList .disabled {
    pointer-events: none;
}

/*Answers Section*/

#quiz #answersSection {
    height: 60px;
    width: 100%;
    background: #f4efe9;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
}

#quiz #answersSection h3 {
    margin: 0px 30px;
    display: none;
    font-size: 12px;
}

#quiz #answersSection h3:last-child {
    height: 40px;
    width: 100px;
    display: grid;
    place-items: center;
    background: #E19853;
    position: absolute;
    right: 0;
    color: #fff;
    border: 1px solid #e47e1f;
    font-size: 18px;
    border-radius: 20px 5px;
    cursor: pointer;
    margin: 0 20px;
}

#quiz #answersSection h3:hover {
    background: #e47e1f;
}

#quiz #answersSection h3:first-child:hover {
    background: none;
}

/*Result Section*/
#container #result {
    height: 500px;
    width: 450px;
    padding: 20px;
    background: #f4efe9;
    border-radius: 30px 10px;
    border: 1px solid #e47e1f;
    overflow: hidden;
    position: relative;
        display: none;
}



#points {
    margin-top: 0px;
    height: 40px;
    width: 87%;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 235px;
}

#container #result #points {
    font-size: 30px;
    top: 275px;
}

#container #result button {
    height: 50px;
    width: 260px;
    border: none;
    outline: none;
    background: #E19853;
    color: #fff;
    position: absolute;
    left: 105px;
    top: 357px;
    border: 1px solid #e47e1f;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
}

#container #result button:last-child {
    top: 418px;
}

#container #result button:hover {
    background: #e47e1f;
}

.image-container2{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

.image-container{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
  }

/*da eliminare se non funziona*/
.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .image-container::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
  }
  
  /*da eliminare se non funziona*/
  
  .image-container::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: #000;
    opacity: 0.4;
    height: 0;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);

    transition: .3s;
    margin-top: -50%; /* Modifica qui */
  }
  
  
  
  .image-container:hover::after{
    height: calc(100%);
  }
  
  .image-container :hover::before{
    margin-top: 0;
    opacity: 1;
  }
  
  .image-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E19853;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 999;
  }
  
  .image-container:hover .image-overlay-button {
    opacity: 1;
  }
  .btn-btn-primary{
    font-family: 'Arial';
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding: 10px 20px;
    border: solid 1px #E19854;
    background: #E19853;
    border-radius: 8px;
    font-weight : bold ;
    border-spacing: 100;
    height: 60px;
    width: 120px;
  
  }
  .btn btn-primary:hover{
    background-color: #e47e1f;
  }





@media only screen and (max-width: 600px){
#guide { /*quiz*/
    width: 450px;
    text-align: center;
}

#guide h2 {
    font-size: 35px;
}

#guide h4 {
    padding-bottom: 10px;
    font-size: 15px;
}

#guide #button {
    height: 40px;
}

#guide #button button {
    height: 40px;
}

#quiz {
    /*    display: block;*/
    height: 450px;
    width: 450px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#quiz #quiz_header h5 {
    font-size: 22px;
    margin: 0 10px;
}

#quiz #question {
    top: 90px;

}

#quiz #question h2 {
    font-size: 25px;
}

#quiz #question h2:first-child {
    margin: 0 10px 0 5px;
}

/*Quiz Options*/
#quiz #optionList {
    height: 50px;
    top: 150px;
}

#quiz #optionList h4 {
    height: 50px;
    width: 400px;
}

#quiz #optionList h4:hover {
    background: #e47e1f;
}

#quiz #optionList .active {
    background: #e47e1f;
}

#quiz #optionList .disabled {
    pointer-events: none;
}




}